VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xxx
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_SITE_URL=https://banco-site-eduit.6tqx2r.easypanel.host
SITE_URL=https://banco-site-eduit.6tqx2r.easypanel.host

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=site_anhanguera
DATABASE_SSL=disable
